@charset "UTF-8";

p.red {color: #FF0000; font-size: 25px;} 
/* p태그이면서 red클래스(html문서 태그뒤에 클래스=" "넣어놔야함 */
li.red {color: #FF0000; font-size: 25px;} 

/*ol li {color: blueviolet;} */

/* ol>li {color: blueviolet;} */

/*body ul {color:cornflowerblue;} 3.특징/4-2-2하위까지 두군데퍼렁*/
/*body>ul {color:cornflowerblue;} 얘는3.특징까지만표시되는데
ul>li 저거는 왜 특징+인터넷영향까지 파래 body ul이랑똑같이뜸왜 물음표백만개
ul이 두개가 있어서 위에 ul에서도 직속인애가 li고
밑에 ul에서도 직속인애가 li라서 두개 다 표시되어보이는건가*/
p.red {color:darkcyan;}
td.red2 {color:darkred;}
/*ul li {color: violet;}*/
ul>li {color: violet;}

/*body ol {color:aqua;}*/
/*body>ol {color:aqua;}*/